<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">
<head>
  <meta name="robots" content="ALL">
  <meta name="robots" content="index,follow">
  <meta name="revisit-after" content="1 days">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">


  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/m_yby_member.css">
  <style>
    body{
      background-image: url("https://www.studyon.co.kr/files/attach/images/242354/731/471/6.jpg");
      background-repeat : no-repeat;
      background-size: cover;
    }
  </style>
</head>
<div layout:fragment="content">

<div  style="height: 851px;">
  <form class="login_form" action="/commonLogin" method="post">
    <input type="hidden">
    <div class="flex_container login">
      <div class="login_wrap">
        <div class="y_people">
        </div>

        <div class="login_box">

          <div class="y_logo">
            <img src=>
          </div>
          <div>
            <div class="input_id">
              <div class="id_box">
                <label class="login_lb id_lb">아이디</label>
                <input type="text" name="userId" class="input_box" placeholder="아이디">
              </div>
            </div>
            <div class="input_pw">
              <label class="login_lb pw_lb">비밀번호</label>
              <!-- #5784 비밀번호 표시기능 -->
              <!-- 비밀번호 보기 : join_pass 클래스 삭제 -->
              <input type="password" name="userPw" class="join_form join_pass" placeholder="비밀번호" maxlength="12">
              <!-- 비밀번호 보기 아이콘 : active 클래스 추가 -->
              <a class="pw_hide"></a>
              <!-- // #5784 -->
            </div>
          </div>

          <div class="input_btn">
            <input type="submit" class="btn_login btn_click" value="로그인">
          </div>

          <div class="etc_menu">
            <a><p class="find_info">이메일·비밀번호 찾기</p></a>
          </div>
        </div>


        <div class="etc_box">
          <input type="hidden" id="email" name="email" value="">
          <input type="hidden" id="nickname" name="nickname" value="">
          <a class="btn-login join_btn btn_click" id="kakao-login-btn">
            <img src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png"  style="max-width: 100%; height: auto;"  alt="카카오">
          </a>
          <div class="social_lg">
          </div>
          <div class="join">
            <a href="/join" class="join_btn btn_click" type="submit">일반 회원가입</a>
            <div class="offer_box">
              <p class="jn_msg">※ 한번가입으로 <span>PC 웹, 모바일 웹</span> 어디서나 사용이 가능합니다.</p>
              <div class="yby_offer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>

<section layout:fragment="contentScriptFragment">
  <script type="text/javascript" th:src="${@versionComponent.getVersion('../resources/build/login.bundle.js')}"></script>
</section>
</html>