<!DOCTYPE html>
<html  lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_font.css">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_default.css">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_popup.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_seem.css">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_mainlist.css">
    <link href="../css/styles.css" rel="stylesheet" />

    <script src="/resources/vendors/polyfill.min.js"></script>
    <script src="/resources/vendors/jquery.min.js"></script>
    <script src="/resources/vendors/lodash.min.js"></script>
    <script src="/resources/vendors/axios.min.js"></script>
    <script src="/resources/vendors/moment.min.js"></script>
    <script src="/resources/vendors/jquery-mobile.event.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7xei5mr4nb&callback=CALLBACK_FUNCTION"></script>
    <script type="text/javascript" th:src="${@versionComponent.getVersion('/resources/build/onLoad.bundle.js')}"></script>

</head>
    <div id = "Nav" class="fixed">
        <div class ="navbar-expand-lg" >

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/">맹고플레이트
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#top">Up</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#bottom">Down    &nbsp </a></li>
                        </ul>
                        <form class="d-flex">
                            <!--로그인버튼이 생기려면 email세션 null result==0 -->
                            <a th:if="${session.email}==null" href="/login" class="btn btn-outline-dark me-3" type="submit">
                                <i class="fa-solid fa-check"></i>
                                로그인
                            </a>
                        </form>
                        <form class="d-flex">
                            <a  th:if="${session.email eq null}" href="/join" class="btn btn-outline-dark me-3" type="submit">
                                <i class="fa-solid fa-user-plus"></i>
                                회원가입
                            </a>
                        </form>

                        <form class="d-flex" action="/logout">
                            <a th:if="${session.email}" class="btn btn-outline-dark me-3" type="submit" href="https://kauth.kakao.com/oauth/logout?client_id=69be1a111282098525e83fb2e70767ec&logout_redirect_uri=http://localhost/logout">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                로그아웃
                                <p th:text="${session.email}"></p>
                            </a>
                        </form>

                        <!-- 찜(가고싶다) -->
                        <form class="d-flex" action="data/wishList">
                            <button type="button" id="modal"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <i class="fa-solid fa-user-large"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>


    </div>


</th:block>
</html>
