<!DOCTYPE html>
<html  lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_font.css">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_default.css">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_popup.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_seem.css">
    <link rel="stylesheet" type="text/css" href="/css/m_yby_mainlist.css">
    <link href="../css/styles.css" rel="stylesheet" />

    <script src="/resources/vendors/polyfill.min.js"></script>
    <script src="/resources/vendors/jquery.min.js"></script>
    <script src="/resources/vendors/lodash.min.js"></script>
    <script src="/resources/vendors/axios.min.js"></script>
    <script src="/resources/vendors/moment.min.js"></script>
    <script src="/resources/vendors/jquery-mobile.event.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7xei5mr4nb&callback=CALLBACK_FUNCTION"></script>
    <script type="text/javascript" th:src="${@versionComponent.getVersion('/resources/build/onLoad.bundle.js')}"></script>
</head>
</th:block>
</html>
