<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/detailPageStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div layout:fragment="content" >
    <div id = "Nav" class="fixed">
        <div class ="navbar-expand-lg" >

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/">Start Bootstrap
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#top">Up</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#bottom">Down    &nbsp </a></li>


                        </ul>



                        <form class="d-flex">
                            <!--로그인버튼이 생기려면 email세션 null result==0 -->
                            <a th:if="${session.email}==null" href="/login" class="btn btn-outline-dark me-3" type="submit">
                                <i class="fa-solid fa-check"></i>
                                로그인
                            </a>
                        </form>
                        <form class="d-flex">
                            <a  th:if="${session.email eq null}" href="/join" class="btn btn-outline-dark me-3" type="submit">
                                <i class="fa-solid fa-user-plus"></i>
                                회원가입
                            </a>
                        </form>

                        <form class="d-flex" action="/logout">
                            <a th:if="${session.email}" class="btn btn-outline-dark me-3" type="submit" href="https://kauth.kakao.com/oauth/logout?client_id=69be1a111282098525e83fb2e70767ec&logout_redirect_uri=http://localhost/logout">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                로그아웃
                                <p th:text="${session.email}"></p>


                            </a>
                        </form>

                        <!-- 찜(가고싶다) -->
                        <form class="d-flex" action="data/wishList">
                            <button type="button" id="modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <i class="fa-solid fa-user-large"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--위시 리스트 모달-->
    <div class="wishList">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <ul class="wish_middle_list">
                                <li th:text="${name}"></li>
                                <li th:text="${roadName}"></li>
                                <li th:text="${src}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4" style="background-image: url('https://mp-seoul-image-production-s3.mangoplate.com/0776fea76b4a824ff583128cb51dd45c.jpg')">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">므앙고 플레이트</h1>
                <p class="lead mb-0">내가 찾던 맛집</p>
            </div>
        </div>
    </header>
    <!-- Page content-->

    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-3">

                    <!-- 음식 이미지 -->

                    <div class="card-img-top grid-image my-0">
                        <img alt="" th:src="${modalVO.src}" />
                        <img alt="" th:src="${modalVO.src}" />
                        <img alt="" th:src="${modalVO.src}" />
                        <!--<img alt="" src="https://mp-seoul-image-production-s3.mangoplate.com/1991439_1660311616360583.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80" />
                        <img alt="" src="https://mp-seoul-image-production-s3.mangoplate.com/1991439_1637484735593478.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80" />
                    --></div>


                    <!-- 가게 정보 -->
                    <table class="tg" >
                        <colgroup>
                            <col style="width: 80px">
                            <col style="width: 223px">
                            <col style="width: 76px">
                        </colgroup>



                        <thead>
                        <tr>
                            <th class="name tg-f2a8" colspan="2" th:text="${modalVO.name}"></th>
                            <th><a><i class="fa-solid fa-pencil fa-2x me-3"></i></a>
                                <i class="favoriteStore fa-solid fa-star fa-2x me-2"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <span></span>
                        <tr>
                            <td class="tg-ofg3">주소</td>
                            <td class="roadName tg-mnzm" colspan="2" th:text="${modalVO.roadName}"></td>
                        </tr>

                        <tr>
                            <td class="tg-ofg3">전화번호</td>
                            <td class="tg-mnzm" colspan="2">000-1234-1234</td>
                        </tr>
                        <tr>
                            <td class="tg-ofg3">음식종류</td>
                            <td class="tg-mnzm" colspan="2">고기 요리</td>
                        </tr>
                        <tr>
                            <td class="tg-ofg3">가격대</td>
                            <td class="tg-mnzm" colspan="2">2만원 ~ 3만원</td>
                        </tr>
                        <tr>
                            <td class="tg-ofg3">주차</td>
                            <td class="tg-mnzm" colspan="2">주차공간없음</td>
                        </tr>
                        <tr>
                            <td class="tg-ofg3">영업시간</td>
                            <td class="tg-mnzm" colspan="2">16:30 ~ 23:00</td>
                        </tr>
                        <tr>
                            <td class="tg-ofg3">휴일</td>
                            <td class="tg-jyg6" colspan="2">일</td>
                        </tr>
                        <tr>
                            <td class="tg-9rpp" rowspan="3">메뉴</td>
                            <td class="tg-l6nl">특양</td>
                            <td class="tg-l6nl">30,000원</td>
                        </tr>
                        <tr>
                            <td class="tg-mnzm">양곱창</td>
                            <td class="tg-mnzm">33,000원</td>
                        </tr>
                        <tr>
                            <td class="tg-mnzm">곱창</td>
                            <td class="tg-mnzm">31,000원</td>
                        </tr>
                        </tbody>
                    </table>


                    <!-- 리뷰 -->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">

                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="리뷰를 작성해주세요"></textarea></form>

                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">김곱창</div>
                                        친절하고 맛있어요~
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">주인</div>
                                                감사합니다.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">이막창</div>
                                        맛집이에요~
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex mt-4" >
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">박염통</div>
                                        맛집이에요~
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Side widgets-->
            <div class="col-lg-4" >

                <!-- 지도 -->
                <div class="card mb-4">
                    <div class="card-header">위치</div>
                    <div class="card-body">위치지도</div>
                </div>

                <div id="map" style="width:100%;height:500px;">
                </div>


            </div>
        </div>


        <!-- Footer 바텀 js로 추가-->

        <!-- Footer-->

        <!-- Bootstrap core JS-->
    </div>
    <footer id="bottom" class="py-5 bg-dark">

    </footer>


</div>



<section layout:fragment="contentScriptFragment">
    <script type="text/javascript" th:src="${@versionComponent.getVersion('/resources/build/detailPage.bundle.js')}"></script>

</section>