<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">

    <head>

        <link href="../css/styles.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../resources/assets/favicon.ico"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="../css/portal/default.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/13c79383be.js" crossorigin="anonymous"></script>
        <!--<script type="text/javascript" src="../resources/js/mango.js"></script>-->
        <style>

        </style>

    </head>



    <div layout:fragment="content">
    <!-- Navigation 상단바바바-->
   <!-- <p th:text="${}"></p>-->
<!--        <tr th:each="db: ${list}">
             <p th:text="${db.getName()}"></p>
        </tr>-->

        <!--<p th:text="세션값은 +${session.size}"></p>-->
<!--        <th:block th:replace="fragments/head2 :: fragment-header"></th:block>-->
    <!--<div id = "Nav" class="fixed">
        <div class ="navbar-expand-lg" >

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/">Start Bootstrap
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#top">Up</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#bottom">Down    &nbsp </a></li>
                        </ul>
                        <form class="d-flex">
                            &lt;!&ndash;로그인버튼이 생기려면 email세션 null result==0 &ndash;&gt;
                            <a th:if="${session.email}==null" href="/login" class="btn btn-outline-dark me-3" type="submit">
                                <i class="fa-solid fa-check"></i>
                                로그인
                            </a>
                        </form>
                        <form class="d-flex">
                            <a  th:if="${session.email eq null}" href="/join" class="btn btn-outline-dark me-3" type="submit">
                                <i class="fa-solid fa-user-plus"></i>
                                회원가입
                            </a>
                        </form>

                        <form class="d-flex" action="/logout">
                            <a th:if="${session.email}" class="btn btn-outline-dark me-3" type="submit" href="https://kauth.kakao.com/oauth/logout?client_id=69be1a111282098525e83fb2e70767ec&logout_redirect_uri=http://localhost/logout">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                로그아웃
                                <p th:text="${session.email}"></p>


                            </a>
                        </form>

                        &lt;!&ndash; 찜(가고싶다) &ndash;&gt;
                        <form class="d-flex" action="data/wishList">
                                <button type="button" id="modal"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <i class="fa-solid fa-user-large"></i>
                                </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>


    </div>-->



        <!--
        <div class ="fixed navbar-expand-lg" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#top">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#scrollbottom">down</a></li>
                        &lt;!&ndash;<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>&ndash;&gt;
                    </ul>

                    <form class="d-flex">
                        <a class="btn btn-outline-dark me-3" type="submit">
                            <i class="fa-solid fa-check"></i>
                            로그인
                        </a>
                    </form>

                    <form class="d-flex">
                        <a href="/join" class="btn btn-outline-dark me-3" type="submit">
                            <i class="fa-solid fa-user-plus"></i>
                             회원가입
                        </a>
                    </form>

                    <form class="d-flex">
                        <a class="btn btn-outline-dark me-3" type="submit" hidden>
                            <i class="fa-solid fa-right-from-bracket"></i>
                            로그아웃
                        </a>
                    </form>

                    &lt;!&ndash; 찜(가고싶다) &ndash;&gt;
                    <form class="d-flex">
                       <a class="btn btn-outline-dark" id="modal" type="submit">
                           <i class="fa-solid fa-user-large"></i>
                           <span class="badge bg-dark text-white rounded-pill">0</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        </div>-->
        <!-- Header-->

        <!--위시 리스트 모달-->
        <div class="wishList">
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <ul th:each="list, i:${session.list}" class="wish_middle_list">
                                    <a th:with="link=|${'/detailPage'}?roadName=${list.roadName}&name=${list.name}&src=${list.src}|" th:href="@{${link}}">
                                        <li th:text="${list.name}"></li>
                                        <li th:text="${list.roadName}"></li>
                                        <img th:text="${list.src}">
                                    </a>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="background" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder">망고플레이트</h1>
                    <form class="example py-5" id="sumbit" onsubmit="return false" >
                        <input type="text" placeholder="지역,식당 또는 음식" name="search" >
                        <button id="search" type="submit"><i class="fa fa-search"></i></button>
                    </form>


                </div>
            </div>
        </header>
     <!--   //지도만들기-->
     <section class="py-5 map hidden">
         <div class="row  row-cols-2  justify-content-center ">
         <!--<div class="col mb-5">-->

             <div class="col-lg-4" >
                 <div  id="map" style="width: 100%;height:500px;object-fit: cover">
             </div>



         </div>
         </div>

     </section>

        <!-- Section-->
        <style>
            .p-4{
                padding: 0 !important;
            }
            a {
                color : black;

            }
        </style>

        <section class="py-5">



            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id ="start">
                    <div class="foodType col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a>
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/153948/114224_1495617984049_21416?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a>
                                    <p><h5 class="fw-bolder">한식</h5></p>
                                    </a>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                                <div class="text-center"><p><a class="btn btn-outline-dark mt-auto">View options</a></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="foodType col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->

                            <!-- Product image-->
                            <a>
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/179982_1490328588168726.jpg?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            </a>
                                <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a>
                                    <p><h5 class="fw-bolder">중식</h5></p>
                                    </a>
                                    <!-- Product reviews-->

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><p><a class="btn btn-outline-dark mt-auto">Add to cart</a></p></div>
                            </div>
                        </div>

                    </div>
                    <div class="foodType col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->

                            <!-- Product image-->
                            <a>
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/12883/2015985_1665665035328_1000001275?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a >
                                    <p><h5 class="fw-bolder">일식</h5></p>
                                    </a>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><p><a class="btn btn-outline-dark mt-auto" >Add to cart</a></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="foodType col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a>
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/67094_1592053130327492.jpg?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a>
                                    <p><h5 class="fw-bolder">양식</h5></p>
                                    </a>
                                    <!-- Product reviews-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><p><a class="btn btn-outline-dark mt-auto">Add to cart</a><p></div>
                            </div>
                        </div>
                    </div>
                    <div class="foodType col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->

                            <!-- Product image-->
                            <a>
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/371364_1445214856878.jpg?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            </a>
                                <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a >
                                    <p><h5 class="fw-bolder">치킨</h5></p>
                                    </a>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><p><a class="btn btn-outline-dark mt-auto">Add to cart</a></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="foodType col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a>
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/195133/968026_1566749098661_21430?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a >
                                    <p><h5 class="fw-bolder">분식</h5></p>
                                    </a>
                                    <!-- Product price-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><p><a class="btn btn-outline-dark mt-auto">View options</a></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="foodType col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->

                            <!-- Product image-->
                            <a>
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/396239/osg4_ird-_k1s3.jpg?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a >
                                    <p><h5 class="fw-bolder">카페</h5></p>
                                    </a>
                                    <!-- Product reviews-->


                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><p><a class="btn btn-outline-dark mt-auto">Add to cart</a></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="foodType col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a>
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/50836_1579495488063112.jpg?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a>
                                    <p><h5 class="fw-bolder">버거</h5></p>
                                    </a>
                                    <!-- Product reviews-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><p><a class="btn btn-outline-dark mt-auto">Add to cart</a></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div id="test">

        </div>


        <!--  지역 선택 모달 -->


        <section id="pagination" class="py-5">
            <div class="container px-4 px-lg-5 mt-5">

        <ul class="pagination justify-content-center">

            <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>

                <th:block th:each="num : ${#numbers.sequence(1,10)}">

                    <li class="page-item x"><a class="page-link" th:text="${num}" ></a></li>
                    <!--"-->
                </th:block>

            <!--th:href="@{(page=${num})}"-->

            <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
        </ul>
        </div>
        </section>

    <!-- Footer 바텀 js로 추가-->
    <footer id="bottom" class="py-5 bg-dark">
    </footer>

    </div>

    <section layout:fragment="contentScriptFragment">
        <script type="text/javascript" th:src="${@versionComponent.getVersion('../resources/build/mango.bundle.js')}"></script>
    </section>
</html>