<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!--<script type="text/javascript" src="../resources/js/mango.js"></script>-->
        <script type="text/javascript" th:src="${@versionComponent.getVersion('../resources/build/mango.bundle.js')}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../resources/assets/favicon.ico"/>
        <script src="https://kit.fontawesome.com/13c79383be.js" crossorigin="anonymous"></script>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="../css/m_yby_member.css">
        <link rel="stylesheet" type="text/css" href="../css/portal/default.css">
        <!--<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=7xei5mr4nb&callback=CALLBACK_FUNCTION"></script>-->
        <script src="../resources/vendors/polyfill.min.js"></script>
        <script src="../resources/vendors/jquery.min.js"></script>
        <script src="../resources/vendors/lodash.min.js"></script>
        <script src="../resources/vendors/axios.min.js"></script>
        <script src="../resources/vendors/moment.min.js"></script>
        <script src="../resources/vendors/jquery-mobile.event.min.js"></script>


        <link rel="stylesheet" type="text/css" href="../css/m_yby_font.css">
        <link rel="stylesheet" type="text/css" href="../css/m_yby_default.css">
        <link rel="stylesheet" type="text/css" href="../css/m_yby_popup.css">
        <link rel="stylesheet" type="text/css" href="../css/mobile.css">
        <link rel="stylesheet" type="text/css" href="../css/m_yby_seem.css">
        <link rel="stylesheet" type="text/css" href="../css/m_yby_mainlist.css">
        <script type="text/javascript" th:src="${@versionComponent.getVersion('/resources/build/onLoad.bundle.js')}"></script>

    </head>
    <style>
        div.fixed{
            position: sticky ;
            top:0;
            z-index: 1000;

        }
        .normal_pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; z-index:4000; display:flex; flex-wrap:wrap; flex-direction:row; align-items:center; justify-content:center;}
        .pop_region .region_tab .slct_food {background:#f3f0f1  no-repeat center; background-size:60px 32px;}
        .pop_region .region_tab .slct_food.active {background:#fff  no-repeat center; background-size:60px 32px; border-bottom:3px solid #d6665a}
        .pop_region .region_tab .slct_want {background:#f3f0f1  no-repeat center; background-size:60px 32px;}
        .pop_region .region_tab .slct_want.active {background:#fff  no-repeat center; background-size:60px 32px; border-bottom:3px solid #d6665a}
        .pop_region .region_tab .slct_want span{display:block; width:100%; height:100%; line-height: 45px;  text-align:center;}
        .pop_region .region_tab .slct_want.active span{display:block; width:100%; height:100%; line-height: 45px;  text-align:center;}
        .pop_region .region_tab .slct_food span{display:block; width:100%; height:100%; line-height: 45px;  text-align:center;}
        .pop_region .region_tab .slct_food.active span{display:block; width:100%; height:100%; line-height: 45px;  text-align:center;}





    </style>
    <body>
    <!-- Navigation-->
        <div class ="fixed navbar-expand-lg" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a class="btn btn-outline-dark me-3" type="submit">
                            <i class="fa-solid fa-check"></i>
                            로그인
                        </a>
                    </form>

                    <form class="d-flex">
                        <a href="/join" class="btn btn-outline-dark me-3" type="submit">
                            <i class="fa-solid fa-user-plus"></i>
                             회원가입
                        </a>
                    </form>

                    <form class="d-flex">
                        <a class="btn btn-outline-dark me-3" type="submit" hidden>
                            <i class="fa-solid fa-right-from-bracket"></i>
                            로그아웃
                        </a>
                    </form>

                    <!-- 찜(가고싶다) -->
                    <form class="d-flex">
                       <a class="btn btn-outline-dark" id="modal" type="submit">
                           <i class="fa-solid fa-user-large"></i>
                           <span class="badge bg-dark text-white rounded-pill">0</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        </div>
        <!-- Header-->

        <header id="background" class="py-5">

            <div class="container px-4 px-lg-5 my-5">

                <div class="text-center text-black">

                    <h1 class="display-4 fw-bolder">므앙고플레이트</h1>

                    <form class="example py-5" id="sumbit" onsubmit="return false" >
                        <input type="text" placeholder="지역,식당 또는 음식" name="search" >
                        <button id="search" type="submit"><i class="fa fa-search"></i></button>
                    </form>


                </div>
            </div>
        </header>
     <section class="py-5">
         <div class="row  row-cols-2  justify-content-center ">
         <!--<div class="col mb-5">-->
         <div class="card">
        <div id="map" style="width:100%;height:500px;">
        </div>
         </div>
         </div>

     </section>
    npm build 지우기
        <!-- Section-->


        <section class="py-5">

            </div>

            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id ="start">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/179982_1490328588168726.jpg?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/232499/29726_1452157181557_26451?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/338978/gvcijqimngdfzi.jpg?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/385118/471838_1553428536157_42289?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/371364_1445214856878.jpg?fit=around|362:362&crop=362:362;*,*&output-format=jpg&output-quality=80" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $120.00 - $280.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       <!-- <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $120.00 - $280.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Special Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $40.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $120.00 - $280.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Special Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $40.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $40.00 - $80.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Special Item</h5>
                                    &lt;!&ndash; Product reviews&ndash;&gt;
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $120.00 - $280.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $120.00 - $280.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Sale badge&ndash;&gt;
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $120.00 - $280.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $120.00 - $280.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            &lt;!&ndash; Product image&ndash;&gt;
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            &lt;!&ndash; Product details&ndash;&gt;
                            <div class="card-body p-4">
                                <div class="text-center">
                                    &lt;!&ndash; Product name&ndash;&gt;
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    &lt;!&ndash; Product price&ndash;&gt;
                                    $120.00 - $280.00
                                </div>
                            </div>
                            &lt;!&ndash; Product actions&ndash;&gt;
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>

                    <div id="foodListAppend">
                        <div class="col mb-5">
                            <div class="card h-100">
                                &lt;!&ndash; Product image&ndash;&gt;
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                &lt;!&ndash; Product details&ndash;&gt;
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        &lt;!&ndash; Product name&ndash;&gt;
                                        <h5 class="fw-bolder">Fancy Product</h5>
                                        &lt;!&ndash; Product price&ndash;&gt;
                                        $120.00 - $280.00
                                    </div>
                                </div>
                                &lt;!&ndash; Product actions&ndash;&gt;
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>-->

        <div id="test">

        </div>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">&copy; team.B</p></div>
        </footer>
        <!--  지역 선택 모달 -->
        <div class="normal_pop_wrap hidden">
            <div class="full_modal"></div>
            <div class="pop_region">
                <div class="pop_region_hd">
                    <!-- 국내/해외 지역 미선택시 -->
                    <span id="addressTitle">맛집 </span>
                    <!-- 국내 지역 선택시 -->
                    <!-- <span class="slct_city">광주</span>
                    <span class="slct_city_suf">상세지역을 선택하세요</span> -->
                    <div class="btn_cls"><a>닫기</a>
                    </div>
                </div>
                <div class="region_tab">
                    <ul class="flex_container">
                        <li><a class="slct_food active"><span>최근 본 이미지</span></a></li>
                        <li><a class="slct_want"><span> 가고 싶은 곳</span></a></li>
                    </ul>
                </div>
                <!-- 국내 지역선택-->
                <div class="pop_region_content region_content_kr">
                    <ul>
                        <!-- 지역 선택시 class="chk_active" 추가 -->
                     <!--   <li><a>서울</a></li>
                        <li><a>경기</a></li>
                        <li><a>인천</a></li>
                        <li><a>대전</a></li>
                        <li><a>대구</a></li>
                        <li><a>부산</a></li>
                        <li><a>광주</a></li>
                        <li><a>세종</a></li>
                        <li><a>울산</a></li>
                        <li><a>충북</a></li>
                        <li><a>충남</a></li>
                        <li><a>전북</a></li>
                        <li><a>전남</a></li>
                        <li><a>경북</a></li>
                        <li><a>경남</a></li>
                        <li><a>강원</a></li>
                        <li><a>제주</a></li>
                        <li><a>북한</a></li>-->
                    </ul>
                </div>
                <!-- 국내 상세 지역 선택 -->
                <div class="pop_region_content region_content_kr_detail hidden">
                    <ul>
                        <li><a>광산구</a></li>
                        <li><a>남구</a></li>
                        <li><a>동구</a></li>
                        <li><a>북구</a></li>
                        <li><a>서구</a></li>
                    </ul>
                </div>
                <!-- 해외 지역선택 -->
                <div class="pop_region_content region_content_abroad hidden">
                    <ul>
                        <li><a>중국</a></li>
                        <li><a>미국</a></li>
                        <li><a>일본</a></li>
                        <li><a>캐나다</a></li>
                        <li><a>호주</a></li>
                        <li><a>홍콩</a></li>
                        <li><a>베트남</a></li>
                        <li><a>뉴질랜드</a></li>
                        <li><a>대만</a></li>
                        <li><a>브라질</a></li>
                        <li><a>미얀마</a></li>
                        <li><a>필리핀</a></li>
                        <li><a>영국</a></li>
                        <li><a>독일</a></li>
                        <li><a>가나</a></li>
                        <li><a>가봉</a></li>
                        <li><a>가이아나</a></li>
                        <li><a>감비아</a></li>
                        <li><a>과델로프</a></li>
                        <li><a>과테말라</a></li>
                        <li><a>괌</a></li>
                        <li><a>교황청</a></li>
                        <li><a>그레나다</a></li>
                        <li><a>그루지아</a></li>
                    </ul>
                </div>
                <div class="botom_btn">
                    <div class="btn_half btn_prev" style="display:none;"
                    ><a>이전</a>
                    </div>
                    <!-- 국내/해외 지역 선택시 class="active" 추가-->
                    <div class="btn_full btn_slct">
                        <a>내 정보</a>

                    </div>
                </div>
            </div>
        </div>
    </body>


    <!--<div id="x" class="hidden">
    <div class="normal_pop_wrap hidden">
        <div class="full_modal"></div>
        <div class="pop_region">
            <div class="pop_region_hd">
                <span id="addressTitle1">지역 선택</span>

                <div class="btn_cls"><a>닫기</a>

                </div>
            </div>
            <div class="region_tab">
                <ul class="flex_container">
                    <li><a class="slct_kr active"><span class="hidden"></span></a></li>
                    <li><a class="slct_abroad"><span class="hidden"></span></a></li>
                </ul>
            </div>
            &lt;!&ndash; 국내 지역선택&ndash;&gt;
            <div class="pop_region_content region_content_kr">
                <ul>
                    &lt;!&ndash; 지역 선택시 class="chk_active" 추가 &ndash;&gt;
                    <li><a>서울</a></li>
                    <li><a>경기</a></li>
                    <li><a>인천</a></li>
                    <li><a>대전</a></li>
                    <li><a>대구</a></li>
                    <li><a>부산</a></li>
                    <li><a>광주</a></li>
                    <li><a>세종</a></li>
                    <li><a>울산</a></li>
                    <li><a>충북</a></li>
                    <li><a>충남</a></li>
                    <li><a>전북</a></li>
                    <li><a>전남</a></li>
                    <li><a>경북</a></li>
                    <li><a>경남</a></li>
                    <li><a>강원</a></li>
                    <li><a>제주</a></li>
                    <li><a>북한</a></li>
                </ul>
            </div>
            &lt;!&ndash; 국내 상세 지역 선택 &ndash;&gt;
            <div class="pop_region_content region_content_kr_detail hidden">
                <ul>
                    <li><a>광산구</a></li>
                    <li><a>남구</a></li>
                    <li><a>동구</a></li>
                    <li><a>북구</a></li>
                    <li><a>서구</a></li>
                </ul>
            </div>
            &lt;!&ndash; 해외 지역선택 &ndash;&gt;
            <div class="pop_region_content region_content_abroad hidden">
                <ul>
                    <li><a>중국</a></li>
                    <li><a>미국</a></li>
                    <li><a>일본</a></li>
                    <li><a>캐나다</a></li>
                    <li><a>호주</a></li>
                    <li><a>홍콩</a></li>
                    <li><a>베트남</a></li>
                    <li><a>뉴질랜드</a></li>
                    <li><a>대만</a></li>
                    <li><a>브라질</a></li>
                    <li><a>미얀마</a></li>
                    <li><a>필리핀</a></li>
                    <li><a>영국</a></li>
                    <li><a>독일</a></li>
                    <li><a>가나</a></li>
                    <li><a>가봉</a></li>
                    <li><a>가이아나</a></li>
                    <li><a>감비아</a></li>
                    <li><a>과델로프</a></li>
                    <li><a>과테말라</a></li>
                    <li><a>괌</a></li>
                    <li><a>교황청</a></li>
                    <li><a>그레나다</a></li>
                    <li><a>그루지아</a></li>
                </ul>
            </div>
            <div class="botom_btn">
                <div class="btn_half btn_prev" style="display:none;"
                ><a>이전</a>
                </div>
                &lt;!&ndash; 국내/해외 지역 선택시 class="active" 추가&ndash;&gt;
                <div class="btn_full btn_slct">
                    <a>선택</a>
                </div>
            </div>
        </div>
    </div>-->
    <!--</div>-->


</html>
