<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
<style>

</style>

</head>
<body>
<div class="col mb-5">

<div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" th:src="${src}" alt="..." />
    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder"><a class ="name" th:text="${name}"></a></h5>
            <!-- Product price-->
            <a class = "roadName"  th:text="${roadName}" ></a>
        </div>
    </div>
    <!-- Product actions-->
</div>
</div>



<!--<p th:text="${name}"></p>
<p th:text="${roadName}"></p>
<img class="card-img-top" th:src="${src}" alt="..." />-->
</body>
</html>