<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.project.proc.Test" >
    <select id="sqlMenu2" resultType="com.smart.project.web.home.vo.TestVO" parameterType="java.lang.String">
        SELECT * FROM test;
    </select>

    <insert id="insertMember" parameterType="com.smart.project.web.home.vo.TestVO">
        insert into table_join(userId,userEmail,userPw,userName,userPhoneNum) values
            (#{userId},#{userEmail},#{userPw},#{userName},#{userPhoneNum})
    </insert>

    <select id="idCount" parameterType="string" resultType="int">
        select count(*) from table_join where userId = #{userId}
    </select>


</mapper>