<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.project.proc.Test" >
    <insert id="kakaoJoin" parameterType="com.smart.project.web.home.vo.KakaoMemberVO">
        insert ignore into table_join (userEmail,userName) values (#{email},#{nickname})
    </insert>

    <insert id="insertMember" parameterType="com.smart.project.web.home.vo.CommonMemberVO">
        insert into table_join(userId,userEmail,userPw,userName,userPhoneNum) values
            (#{userId},#{userEmail},#{userPw},#{userName},#{userPhoneNum})
    </insert>

    <insert id="saveReview" parameterType="com.smart.project.web.home.vo.ReviewVO" >
        insert into review (review) values (#{review})
    </insert>

    <select id="idCount" parameterType="string" resultType="int">
        select count(*) from table_join where userId = #{userId}
    </select>

<!--    <insert id ="insertMangoJson" parameterType="java.util.List">
        insert into bteam (id,name,address,menu,phone) values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.name},#{item.address},#{item.menu},#{item.phone})
        </foreach>
    </insert>-->


    <select id="selectMango2" resultType="com.smart.project.web.home.vo.Mango2VO" parameterType="java.lang.String">
        SELECT * FROM mango2db where  mainmenu like concat('%',#{search},'%') or name like concat('%',#{search},'%');
    </select>

    <select id="selectMango2All" resultType="com.smart.project.web.home.vo.Mango2VO">
        SELECT * FROM mango2db;
    </select>

    <select id="selectName" resultType="com.smart.project.web.home.vo.Mango2VO" parameterType="java.lang.String">
        SELECT * FROM mango2db where  name= #{name}
    </select>

    <!--<select id="searchAll" resultType="com.smart.project.web.home.vo.Mango2VO" parameterType="java.lang.String">
        SELECT * FROM mango2db where  mainmenu like concat('%',#{search},'%') or name like concat('%',#{search},'%') or roadname like concat('%',#{search},'%');
    </select>-->

<!--

    <select id="searchAll" resultType="com.smart.project.web.home.vo.Mango2VO" parameterType="com.smart.project.web.home.vo.Criteria">
        SELECT * FROM mango2db where  mainmenu like concat('%',#{search},'%') or name like concat('%',#{search},'%') or roadname like concat('%',#{search},'%');
        limit #{pageStart},#{perPageNum}

    </select>
-->


</mapper>